<!DOCTYPE HTML>
<html>
  <head>
    <title>Hello World! Site Title</title>

      <style type="text/css">

.float-left-area  {
		  width: 70%;
		  float: left;
		  }

.float-right-area {
		  width: 30%;
		  float: left;
		  }

.inner-left	  {
		  padding: 5px 5px 5px 5px;
		  margin-right: 10px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  }

.inner-right	  {
		  font-size: 11px;
		  padding: 5px 5px 5px 5px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  }

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }

</style>



    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!--style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 40%;
        width: 40%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style-->
  </head>
  <body>
    <h1>Bart</h1>
    <select id="departureStation">
      <option>Select</option>
    </select>
    <select id="arrivalStation">
      <option>Select</option>
    </select>
    <button id="searchSchedules" type="button">Search</button>

    <article id="results">

        <!--
        //REFRESH BEFORE PRINTING
        <section>
            <p id="resultFare" type="text"> Fare : </p> 
            <p id="resultOrigin" type="text"> Origin : </p> 
            <p id="resultDest" type="text"> Dest : </p>
        </section>
        -->
    </article>


<p id = "testing">  </p>
    <!--aside> <p id="StationInfo"></p> </aside-->


<div class="float-right-area">
<div class="inner-right">

<aside id="StationInfo"> </aside>
    <!--p id="StationInfo"> </p-->
</div>
</div>
<div class="clear-floated"></div>



    <!--p id="session"> Message : </--p-->
    <p id="count"> Count : </p>

    <p id = "Countdown"></p>

    <!-- JavaScript -->

    <!--script>
      function initMap() {
        var chicago = {lat: 41.85, lng: -87.65};
        var indianapolis = {lat: 39.79, lng: -86.14};

        var map = new google.maps.Map(document.getElementById('map'), {
          center: chicago,
          zoom: 7
        });

        var directionsDisplay = new google.maps.DirectionsRenderer({
          map: map
        });

        // Set destination, origin and travel mode.
        var request = {
          destination: indianapolis,
          origin: chicago,
          travelMode: 'DRIVING'
        };

        // Pass the directions request to the directions service.
        var directionsService = new google.maps.DirectionsService();
        directionsService.route(request, function(response, status) {
          if (status == 'OK') {
            // Display the route on the map.
            directionsDisplay.setDirections(response);
          }
        });
      }

    </script-->
    <div id="map"></div>


    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/getStations.js') }}"></script>
    <script src="{{ url_for('static',filename='js/searchSchedules.js') }}"></script>
    <script src="{{ url_for('static',filename='js/getStat.js') }}"></script>
    <script src="{{ url_for('static',filename='js/userSession.js') }}"></script>
    <script src="{{ url_for('static',filename='js/getmap.js') }}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKfyY5cw4Vl2Bg-DNoZ12lTNlAHpVMQN8">
  </body>
</html>
    <!-- 1.If nothin is selected, when refreshing error is throw. done,but check API 500 error
    2.the output needs to be cleared before displaying data again every 30 secs, done
    3.When departure time is 10:45, till it the current time is 10:46, the 30 sec refresh still shows 10:45 as the leg 1 departure time
    4.The selection of the source station needs to be redone cause its has to be selected twice, done
    5.same stations or missing, throw erroer mdsg, done
    6.what is side bar?
    7. on selectng stations second time, countdown is gettin messed up
8.city nd zip code in station information
    -->
    -->
